body{
    margin: 0;
    padding: 0;
    background-color: black;
}
#header{
    display: flex;
    background-color: rgb(172, 175, 159);
    
    padding: 5px;

}
#logo{margin-left: 13px;
    border-radius: 15px;
    box-shadow: 10px;
}
#navbar{
    display: inline-block;
}

#navbar li{
    display: inline-block;
    
}
#navbar li a{
    text-decoration: none;
    margin-right: 45px;
    font-style: italic;
    font-size: large;
    color: white;
}

#navbar li a:hover{
    text-decoration: underline;
   
}

 .container{
     background-image: url(https://images.unsplash.com/photo-1621502859115-3d396477bba6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjZ8fG1vbmV5JTIwaGVpc3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
   width: 90%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

 }  
 p{
    font-size: larger;
font-style: italic/ bold;
color: white;


 }
#footer{
    padding-left: 50px;
    padding-top: 25px;
}
.first img{
    z-index: 2;
}
.first{
    background-image: url(https://cdn.pixabay.com/photo/2020/07/08/12/09/warrior-5383607__340.jpg);
    background-repeat: no-repeat;
}
.last{
display: flex;
background-color: rgb(68, 70, 62);

padding: 5px;}
.lastp{
    margin-left: 50px;
    font-size: larger;
    font-style: italic;
}